.hello:link {
  color: orange;
}
/* ini akan mengubah class hello yg berisikan href/link menjadi warna orange, karena pada awalnya berwarna biru */

.hello:hover {
  color: hotpink;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}
/* class hello dengan : hover akan berubah jika kursor mouse diarahkan ke bacaan hello word, jika tidak maka tidak akan ada perubahab karena ini disebut kelas semu */

.hello:active {
  font-style: italic;
}
/* class hello active ini akan berubah jika hello word diklik */

.hello:visited {
  color: red;
}
/* class hello visited akan beruba merah jika kita sudah pernah mengunjunginya, atau sudah pernah diklik */

li:first-child a {
  color: greenyellow;
}
/* css tolong carika saya a yg ada didalam li dan merupakan anak pertama */

li:last-child a {
  color: rgb(251, 6, 255);
}
/* css tolong carika saya a yg ada didalam li dan merupakan anak terkhir */

li:nth-child(5) a {
  color: rgb(255, 0, 21);
}
/* css tolong carika saya a yg ada didalam li dan merupakan anak kelima */

li:nth-child(3n) a {
  color: rgb(13, 255, 243);
}
/* css tolong carika saya a yg ada didalam li dan merupakan anak kelipatan 3 */

li:nth-child(3n-2) a {
  color: rgb(226, 255, 6);
}
/* css tolong carika saya a yg ada didalam li dan merupakan anak kelipatan 3 yg dimulai dari 1 karena udh dikurang -2 */
/* css tolong carika saya a yg ada didalam li dan merupakan anak kelipatan 3 yg dimulai dari 1 karena udh dikurang +1 */

li:nth-child(odd) a {
  color: rgb(161, 30, 255);
}
/* css tolong carika saya a yg ada didalam li dan merupakan anak ganjil/genap (odd/even) */

li:nth-child(odd) a:hover {
  color: white;
}
/* css tolong carika saya a yg ada didalam li dan merupakan anak ganjil/genap (odd/even) */
/* dan jika a didekatakan keapada mouse maka akan berubah warnya menjadi putih  */

p:first-of-type {
  color: blueviolet;
}
/* css tolong carikan saya element pertama dari tag p lalu ubah warnyanya */

p:last-of-type {
  color: rgb(67, 148, 53);
}
/* css tolong carikan saya element pertama dari tag p lalu ubah warnyanya */
